@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Coiny&family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Dots&display=swap');

:root{
    --white:#fff;
    --black:#222;
}

* {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Coiny', cursive; */
    font-family: 'Arima', cursive;
    font-family: 'Zen Dots', cursive;

    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .2s linear;

}

body.dark{
    --white:#222;
    --black:#fff;
}

#toggle-btn{
    margin: 1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    background-color: var(--white);
    color:var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

#toggle-btn.fa-moon{
transform: rotate(360deg);
}

header {
    background-color: var(--white);
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    opacity: 90%;
}

.logo {
    text-decoration: none;
    color:royalblue;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

.navigation a {
    color: royalblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 1em;
}

.navigation a:hover {
    color:coral;
}

section {
    padding: 5em;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/betterBlueAndYellowImage.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h1 {
    font-family: 'Arima', cursive;
    color: var(--white);
    font-size: 1.4em;
    font-weight: 600;
}
.main h1 span {
    font-family: 'Arima', cursive;
    display: inline-block;
    margin-top: 10px;
    color: var(--white);
    font-size: 3em;
    font-weight: 600;
}

.main h2 {
    font-family: 'Arima', cursive;
    color: var(--white);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mainButton {
    font-family: 'Arima', cursive;
    color: var(--black);
    background-color: var(--white);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.mainButton:hover {
    color: var(--white);
    background-color: var(--black);
    transform: scale(1.1);
}

.socialIcons a {
    color: var(--white);
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: royalblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    color: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectCategoryCard {
    background-color: var(--white);
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    max-width: 15em;
    max-height: 15em;
    padding: 1em;
    margin: 1em;
    transition: 0.7s ease;
}

.projectCategoryCard a {
    text-decoration: none;
    color: var(--white);
}
.projectCategoryCard:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
    text-orientation: initial;
}

.info h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin: .5rem;
}

.info p{
    font-family: 'Raleway' , cursive;
    font-size: .8rem;
    font-weight: 500;
}

.projectsSection{
    background: url(images/darkPurpleAndBlueImage.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.projectCard {
    background-color: var(--white);
    border: .5em solid var(--white);
    margin: 1em;
    max-height: 18em;
    width: 15em;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.7s ease;
}

.projectCard:hover {
    transform: scale(1.1);
}

.projectCard:hover .projectImage{
    opacity: .9;
}

.projectImage img {
    width: 100%;
}

.projectService {
    color: var(--black);
    font-size: .7em;
}

.projectTitle {
    color: var(--black);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 800;
    margin-top: .5em;
}

.moreDetails {
    text-decoration: none;
}

.moreDetails:hover {
    color: chocolate;
}


.ContactCards .icon {
    font-size: 2em;
}
.ContactCards a {
    transition: .2s linear;
    color: var(--black);
}
.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 2em;
    display: flex;
    justify-content:space-between;

}

.footerTitle {
    font-size: 1em;
    font-weight: 600;
}

.footerTitle span {
    color: royalblue;
}

.footer .socialIcons {
    font-size: 1em;
    padding: 0 12px 0 0;
}

div[lang] {
    display: none;
}

div[lang].lang-match {
    /* background-color: cornflowerblue; */
    display: block;
}

@media (max-width:1023px){
    header{
        font-size: 1rem;
    }
    
    .navigation{
        padding-left: 3em;
    }

    .title{
        font-size: 1.8rem;
    }
    section{
        padding: 5em 2em;
    }
    .main h1 {
        font-size: 1rem;
    }
    .main h2 {
        font-size: 1.6rem;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .projectCard {
        transition: 0.4s ease;
    }
    .projectTitle {
        justify-content: space-evenly;
        font-size: .7rem;
        font-weight: 600;
        margin-top: .5em;
    }
}

@media (max-width:600px){
    body{
        font-size: 1.1rem;
    }
    .main h1 {
        font-size: 0.8rem;
    }
    .main h2 {
        font-size: 1.4rem;
    }
    .projectTitle {
        justify-content: space-evenly;
        font-size: .6rem;
        font-weight: 500;
    }

}

@media (max-width:300px){
    header{
        font-size: .8rem;
    }
    #toggle-btn{
        font-size: 1rem;
    }
    
    body{
        font-size: .8rem;
    }
    .main h1 {
        font-size: 0.5rem;
    }
    .main h2 {
        font-size: 1.1rem;
    }
    .projectTitle {
        justify-content: space-evenly;
        font-size: .6rem;
        font-weight: 400;
    }
    .projectService{
        font-size: .6rem;
    }
}